/* clases generales */
* {
  font: normal normal 400 18px/24px 'Raleway', sans-serif;
  color: #fff;

}

a {
  color: #fff;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

section {
  background-color: #f7b617;
  outline: 1px solid black;
}

.btn-white {
  border: none;
  background-color: #fff;
  border-radius: 0.3125em;
  color: #000;
  padding: 1.5%;
}

/* clases específicas */
/* Header */
.navbar-default {
  background-color: #fff;
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
}

.navbar-brand {
  transform: translate(8.750em,0.938em);
}

.navbar-brand img {
  width: 70%;
}

.navbar-toggle {
  transform: translate(-24em,0em);
  /* float: left; */
}

/* Sección de travel */
#travel {
  background-image: url('../assets/images/taxi.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 38.125em;
}

.info-yellow {
  transform: translate(0,120px);
  padding: 2%;
}

/*.background-city {
  background-image: url('../assets/images/taxi.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 545px;
}*/
.info-yellow h2:first-of-type {
  line-height: 0;
}
.info-yellow p {
  margin-top: 1.5em;
}

p > img {
  width: 18%;
}

.info-yellow hr {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.info-yellow, .reference-info-yellow {
   background-color: #f7b617;
}

.reference-info-yellow {
  text-align: center;
  transform: translate(0,-102px);
  width: 20%;
}

.btn-white-mobile {
  margin-top: 1em;
}

/* Sección de app*/
#app {
 padding: 0.1% 0% 0.1% 0%;
}

.app-info-and-photo-mobile {
  margin: 4%;
}

.app-info-and-photo-mobile figcaption, .app-info-and-photo-mobile figure {
  text-align: center;
}

figure {
  border: 0.0625em solid #fff;
  padding: 4%;
}

.app-info-and-photo-mobile figcaption {
  line-height: 40px;
  font-size: 24px;
}

.app-info-and-photo-mobile figure {
  margin-bottom: 5%;
}

.app-info-and-photo-desktop {
  margin: 5% 5% 5% 0;
}

.app-info-and-photo-desktop {
  border: 0.0625em solid #fff;
  padding: 3%;
}

.container-app-desktop img {
  width: 50%;
  box-sizing: border-box;
}

.app-info {
  text-align: justify;
  text-justify: inter-word;
}
.app-info article {
  vertical-align: middle;
}
.app-info p:first-of-type, .app-info h2 {
  margin-bottom: 1em;
}

/* Sección de drive */
#drive {
  background-image: url('../assets/images/conduce.jpg');
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 28.125em;
}

.drivers-info {
  height: 28.125em;
  padding: 3.25em 1em 1.25em 1.5em;
  background-color: #000;
  opacity: 0.5;
}

.drivers-info article {
  opacity: 20;
  color: #fff;
}

.drivers-info p {
  margin-bottom: 1em;
}

.drivers-info button {
  background-color: #f7b617;
  padding: 2%;
  border-style: none;
  border-radius: 0.3125em;
}

/* Sección de fees */
#fees {
  padding: 2% 1% 2% 1%;
}

.fees-info {
  height: 300px;
}

.fees-info h2 {
  margin-bottom: 1em;
}

.fees-info p {
  margin-bottom: 1em;
}

.first-input input, .second-input input {
  width: 90%;
  margin-bottom: 1em;
}

.map img {
  width: 100%;
}

/* Sección de footer */
footer {
  background-color: #2b2b2b;
  color: #fff;
  font-weight: 400;
  padding: 1em;
}

.social-network {
  padding: 0 1em 0 0;
}

.social-network a {
  margin-right: 0.5em;
}

.first-column-list {
  padding-left: 0;
}

.first-column-list ul li {
  line-height: 2.5em;
}

.second-column-list ul li {
  line-height: 2.5em;
}

.apps-market {
  padding-left: 0;
  transform: translate(0,-260px);
}

.apps-market img {
  display: block;
}

.apps-market img:first-of-type {
  margin-bottom: 1em;
}

footer p {
  background-color: inherit;
}

/* versión móvil */
/* @media (min-width: 768px) {

  }
} */

/* versión de escritorio */
@media (min-width: 992px) {
 .hidden {
   display: block !important;
 }

 .show {
   display: none !important;
 }

 .navbar-brand {
   transform: translate(0px,0px);
 }

 .social-network {
   transform: translate(0,350px);
 }

 .apps-market {
   transform: translate(0,220px);
 }
}
