/* clases generales */
* {
  font: normal normal 400 20px/22px 'Raleway', sans-serif;
  color: #fff;

}

a {
  color: #fff;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

/* clases específicas */
section {
  background-color: #f7b617;
  outline: 1px solid black;
}

/* Sección de travel */
.navbar-brand img {
  width: 70%;
}

.taxi-container img {
  height: 500px;
}

/*.img-responsive {
  height: 700px;
  width: 100%;
}*/

/*.background-city {
  background-image: url('../assets/images/taxi.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 545px;
}*/

.info-yellow, .reference-info-yellow {
   background-color: #f7b617;
}

/* Sección de app*/
#app {
 padding: 0.1% 0% 0.1% 0%;
}

.app-info-and-photo-mobile {
  margin: 5%;
}

.app-info-and-photo-mobile figcaption, .app-info-and-photo-mobile figure {
  text-align: center;
}

figure {
  border: 0.0625em solid #fff;
  padding: 4%;
}
.app-info-and-photo-mobile figcaption {
  line-height: 31px;
}
.app-info-and-photo-mobile figure {
  margin-bottom: 5%;
}

.app-info-and-photo-desktop {
  margin: 5%;
}

.app-info-and-photo-desktop {
  border: 0.0625em solid #fff;
  padding: 4%;
}

.container-app-desktop img, .container-app-desktop article {
  display: inline-block;
}



/* Sección de drive */
#drive {
  background-image: url('../assets/images/conduce.jpg');
  background-position: 100% center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 28.125em;
}

.drivers-info {
  height: 28.125em;
  padding: 3.25em 1em 1.25em 1.5em;
  background-color: #000;
  opacity: 0.5;
}

.drivers-info article {
  opacity: 20;
  color: #fff;
}

.drivers-info p {
  margin-bottom: 1em;
}

.drivers-info button {
  background-color: #f7b617;
  padding: 2%;
  border-style: none;
  border-radius: 0.3125em;
}

/* Sección de fees */
#fees {
  padding: 2% 1% 2% 1%;
}

.fees-info {
  height: 300px;
}

.fees-info h3 {
  margin-bottom: 1em;
}

.fees-info p {
  margin-bottom: 1em;
}

.first-input input, .second-input input {
  width: 80%;
  margin-bottom: 1em;
}

.fees-info button {
  text-align: center;
  color: #000;
  padding: 1%;
}

.map img {
  width: 100%;
}

/* Sección de footer */
footer {
  background-color: #2b2b2b;
  color: #fff;
  font-weight: 400;
  padding: 1em;
}

.social-network {
  padding: 0 1em 0 0;
}

.social-network a {
  margin-right: 0.5em;
}

.first-column-list {
  padding-left: 0;
}

.first-column-list ul li {
  line-height: 2em;
}

.second-column-list ul li {
  line-height: 2em;
}

.apps-market {
  padding-left: 0;
  transform: translate(0,-260px);
}

.apps-market img {
  display: block;
}

.apps-market img:first-of-type {
  margin-bottom: 1em;
}

footer p {
  background-color: inherit;
}

/* versión de escritorio*/
@media (min-width: 992px) {
 .hidden {
   display: block !important;
 }
 .show {
   display: none !important;
 }
 .social-network {
   transform: translate(0,312px);
 }
 .apps-market {
   transform: translate(0,190px);
 }
}
